#input {
  height: 40px;
  width: 40px; 
  margin: 10px;
}
.colorCol {
  background-color: blue;
}
#button{
  height: 40px;
  width: 40px; 
  margin: 5px;
}
#letters{
  margin: auto;
  padding: 10px;
  width:370px;
}